/* Layout
================================================== */

body {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    color: #444;
}

#container {
    padding: 40px;
}



/* Die Entries
================================================== */

#entries .entry.master button.remove {
    opacity: .4;
}

#entries .entry {
    display: flex;
    padding: 0 20px;
    margin-bottom: 20px;
}

#entries .entry:nth-child(even) {
    background: #eee;
}

#entries .entry > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#entries .entry > div:not(:last-child) {
    margin-right: 20px;
}

#entries .entry > div.input input {
    width: 50px;
}

#entries .entry > div.result div {
    color: #3c6382;
}

#entries #add {
    padding: 0 20px;
    margin-bottom: 20px;
}



/* Controls
================================================== */

#controls {
    display: flex;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #ccc;
}

#controls button.major {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    border: none;
    border-radius: 2px;
}

#controls button.major svg.octicon {
    position: relative;
    top: 2px;
    margin-right: 10px;
}

#controls button.major svg.octicon path {
    fill: #fff;
}

#controls #roll button.major {
    color: #fff;
    background: #3c6382;
    margin-right: 20px;
}

#controls #total {
    display: flex;
    align-items: center;
}



/* Misc
================================================== */

button.add {

}

button.remove {

}